
// Default text

body
	font-size: 20px
	line-height: 1.8
	font-family: 'Source Sans Pro', sans-serif
	color: $grey
	-webkit-font-smoothing: antialiased
	-webkit-text-size-adjust: 100%

//	Headings

h1, h2, h3, h4, h5, h6
	margin: 0
	color: $dark

.heading-wrap
	z-index: 0
	position: relative

h1,.h1
	position: relative
	font-size: 80px
	font-weight: 700
	line-height: 1.2
	text-transform: none
	padding: 0

h2,.h2
	font-size: 62px
	line-height: 1.1
	margin-bottom: 30px
	transform: translateX(-3px)


h3,.h3
	font-size: 36px
	line-height: 1.38
	margin-bottom: 15px

h4,.h4
	font-size: 22px
	line-height: 1.38
	margin-bottom: 10px

// Basic Text Style

.pre-heading
	font-size: 18px
	text-transform: uppercase

strong
  font-weight: 700

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0


.source-sans
	font-weight: 400

.source-serif
	font-family: 'Source Serif Pro', serif
	font-weight: 400
